<!-- Core Kendo UI Scripts -->
<link rel="import" href="k-core.html">

<!-- Calendar Script -->
<script src="../js/lib/kendo/kendo.autocomplete.min.js"></script>

<element name="k-autocomplete" attributes="animation dataSource dataTextField
      delay enable filter height highlightFirst ignoreCase minLength placeholder
      separator suggest template change close dataBound open select">
  <link rel="stylesheet" href="../styles/lib/kendo/kendo.common.min.css">
  <link rel="stylesheet" href="../styles/lib/kendo/kendo.default.min.css">

  <template>
    <input type="text" id="autocomplete"></input>
  </template>
  
  <script>
    function resolveNullableFunction(value) {
      if (window[value]) {
        return window[value];
      } else {
        if (dataSource) {
          return value();
        }

        return null;
      }
    }

    Polymer.register(this, {
      animation: {},
      dataSource: null,
      dataTextField: null,
      delay: 200,
      enable: true,
      filter: "startsWith",
      height: 200,
      highlightFirst: true,
      ignoreCase: true,
      minLength: 1,
      placeholder: "",
      separator: "",
      suggest: false,
      template: null,
      ready: function() {
        var that = this;
        $(this.$.autocomplete).kendoAutoComplete({
          animation: this.animation,
          dataSource: resolveNullableFunction(this.dataSource),
          dataTextField: this.dataTextField,
          delay: this.delay,
          enable: this.enable,
          filter: this.filter,
          height: this.height,
          highlightFirst: this.highlightFirst,
          ignoreCase: this.ignoreCase,
          minLength: this.minLength,
          placeholder: this.placeholder,
          separator: this.separator,
          suggest: this.suggest,
          template: this.template,
          // Kendo UI AutoComplete Events
          change: function(e) {
            window[that.change] ? window[that.change](e) : 
              that.$.autocomplete.onchange ? that.$.autocomplete.onchange : null;
          },
          close: function(e) {
            window[that.close] ? window[that.close](e) : 
              that.$.autocomplete.onclose ? that.$.autocomplete.onclose() : null;  
          },
          dataBound: function(e) {
            window[that.dataBound] ? window[that.dataBound](e) : 
              that.$.autocomplete.ondatabound ? that.$.autocomplete.ondatabound() : null;  
          },
          open: function(e) {
            window[that.open] ? window[that.open](e) : 
              that.$.autocomplete.onopen ? that.$.autocomplete.onopen() : null;  
          },
          select: function(e) {
            window[that.select] ? window[that.select](e) : 
              that.$.autocomplete.onselect ? that.$.autocomplete.onselect() : null;  
          }
        });
      },
      dataSource: function() {
        return this.kendoAutoComplete().dataSource;
      },
      // Kendo UI AutoComplete Public Methods
      kendoAutoComplete: function() {
        return $(this.$.autocomplete).data('kendoAutoComplete');
      },
      value: function(value) {
        return this.kendoAutoComplete().value(value);
      }
    });
  </script>
</element>