<!-- Core Kendo UI Scripts -->
<link rel="import" href="k-core.html">

<!-- Calendar Script -->
<script src="../js/lib/kendo/kendo.calendar.min.js"></script>

<element name="k-calendar" attributes="date min max culture dates 
          depth footer format month start change navigate">
  <link rel="stylesheet" href="../styles/lib/kendo/kendo.common.min.css">
  <link rel="stylesheet" href="../styles/lib/kendo/kendo.default.min.css">

  <template>
    <div id="calendar"></div>
  </template>
  
  <script>
    Toolkit.register(this, {
      date: new Date(),
      min: new Date("1900/01/01"),
      max: new Date("2099/12/31"),
      culture: "en-US",
      dates: [],
      depth: "year",
      footer: null,
      format: "MM/dd/yyyy",
      month: {},
      start: "month",
      change: '',
      navigate: '',
      ready: function() {
        var that = this;
        $(this.$.calendar).kendoCalendar({
          value: this.date,
          min: this.min,
          max: this.max,
          culture: this.culture,
          dates: this.dates,
          depth: this.depth,
          footer: this.footer,
          format: this.format,
          month: this.month,
          start: this.start,
          // Kendo UI Calendar Events
          change: function(e) {
            window[that.change] ? window[that.change](e) : 
              that.$.calendar.onchange ? that.$.calendar.onchange : null;
          },
          navigate: function(e) {
            window[that.navigate] ? window[that.navigate](e) : 
              that.$.calendar.onnavigate ? that.$.calendar.onnavigate() : null;  
          }
        });
      },
      // Kendo UI Calendar Public Methods
      kendoCalendar: function() {
        return $(this.$.calendar).data('kendoCalendar');
      },
      value: function(value) {
        return this.kendoCalendar().value(value);
      },
      current: function() {
        return this.kendoCalendar().current();
      },
      destroy: function() {
        return this.kendoCalendar().destroy();
      },
      maxDate: function(date) {
        return this.kendoCalendar().maxDate(date);
      },
      minDate: function(date) {
        return this.kendoCalendar().minDate(date);
      },
      navigate: function(date, view) {
        return this.kendoCalendar().navigate(date, view);
      },
      navigateDown: function(value) {
        return this.kendoCalendar().navigateDown();
      },
      navigateToFuture: function() {
        return this.kendoCalendar().navigateToFuture();
      },
      navigateToPast: function() {
        return this.kendoCalendar().navigateToPast();
      },
      navigateUp: function() {
        return this.kendoCalendar().navigateUp();
      },
      view: function() {
        return this.kendoCalendar().view();
      }
    });
  </script>
</element>